body{
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: "Lucida Grande", "Helvetica Nueue", Arial, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(..//images/background.jpg);

}
nav {
    background-color: #333;
    border: 1px solid #333;
    color: #fff;
    display: block;
    margin: 0;
    overflow: hidden;
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
nav ul li {
    margin: 0;
    display: inline-block;
    list-style-type: none;
    transition: all 0.2s;
}

nav > ul > li > a {
    color: #aaa;
    display: block;
    line-height: 2em;
    padding: 0.5em 2em;
    text-decoration: none;

}

nav li > ul{
    display : none;
    margin-top:1px;
    background-color: #bbb;

}

nav li > ul li{
    display: block;
}

nav  li > ul li a {
    color: #111;
    display: block;
    line-height: 2em;
    padding: 0.5em 2em;
    text-decoration: none;
}

nav li:hover {
    background-color: #666;
}
nav li:hover > ul{
    position:absolute;
    display : block;
}
nav li > ul > li ul  {
    display: none;
    background-color: #888;
}
nav li > ul > li:hover > ul  {
    position:absolute;
    display : block;
    margin-left:100%;
    margin-top:-3em;
}
  .wrapper {
    display: grid;
    grid-gap: 10px;
        grid-template: auto ;
        color: #444;
  }
  

  .box2 {
       background-image: url(../images/mountm.jpg) ;
       background-size: cover;
       background-repeat: no-repeat; 
       border-radius: 5px;
       font-size: 1vw;
       color:black;
       border: solid black 2px;
  }
  .box3 {
    background-image: url(../images/papamoa.jpg) ;
    background-size: cover;
    background-repeat: no-repeat; 
    border-radius: 5px;
    font-size: 1vw;
    color:black;
    border: solid black 2px;
}

.box1 {
    background-image: url(../images/tauranga.jpg) ;
    background-size: cover;
    background-repeat: no-repeat; 
    border-radius: 5px;
    font-size: 1vw;
    color:black;
    border: solid black 2px;
}
.a {
    grid-column: 1/2;
    grid-row: 1/1;
}
.b {
    grid-column: 2/3 ;
    grid-row: 1/1 ;
}
.c {
  grid-column: 3/4;
  grid-row: 1/1;
}


.cardt {
    margin-left: 5%;
    margin-right: 5%;
}
.wrapper :hover {
    background-color: #888;
}
.d {
    grid-column: 1/2;
    grid-row: 1/1;
}
.e {
    grid-column:  1/2;
    grid-row:  1/1;
}
.f {
  grid-column: 1/2;
  grid-row: 1/1;
}
.boxhead1 {
    background-color: #333;
    background-size: cover;
    background-repeat: no-repeat; 
    border-radius: 5px;
    font-size: 1vw;
    color:black;
    border: solid black 2px;
}
.boxhead2 {
    background-color: #333;
    background-size: cover;
    background-repeat: no-repeat; 
    border-radius: 5px;
    font-size: 1vw;
    color:black;
    border: solid black 2px;
}
.boxhead3 {
    background-color: #333;
    background-size: cover;
    background-repeat: no-repeat; 
    border-radius: 5px;
    font-size: 1vw;
    color:black;
    border: solid black 2px;
}
h1{
    color: #fff;
    font-size: 15px;
    text-align: center;
}
h2{
    color: #fff;
    font-size: 15px;
    text-align: center;
}
h3{
    color: #fff;
    font-size: 15px;
    text-align: center;
}