/* Controls The Background and nav fonts*/
body{
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: "Lucida Grande", "Helvetica Nueue", Arial, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/background.jpg)

}
/* Sets The Background and Text Color for the Nav */
nav {
    background-color: #333;
    border: 1px solid #333;
    color: #fff;
    display: block;
    margin: 0;
    overflow: hidden;
}
/* Removes the extra margin around the Nav links */
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
/* Allows The Links to be beside eachother. removes the list styles*/
nav ul li {
    margin: 0;
    display: inline-block;
    list-style-type: none;
}
/* Styles The First Layer Of Links On Nav*/
nav > ul > li > a {
    color: #aaa;
    display: block;
    line-height: 2em;
    padding: 0.5em 2em;
    text-decoration: none;

}
/* Controls the dropdown for the Nav */
nav li > ul{
    display : none;
    margin-top:1px;
    background-color: #bbb;

}

/* Forces the drop down to be one ontop of the other */
nav li > ul li{
    display: block;
}
/* Styles the link inside the dropdown */
nav  li > ul li a {
    color: #111;
    display: block;
    line-height: 2em;
    padding: 0.5em 2em;
    text-decoration: none;
}
/* Forces the color to change to #666 when first layer nav link is hovered over*/
nav li:hover {
    background-color: #666;
}
/* Triggers the Dropdown menu for Sub Nav links */
nav li:hover > ul{
    position:absolute;
    display : block;
}

/* sets the color behind the image in each sqaure */
.content {
    width: 100%;
    height: 100%;
    background-color: #333;
    background-size: cover;
}
/* Creates the Square for each of the images on the index */
.square {
    float:left;
    position: relative;
    width: 30%;
    margin:1.66%;
    overflow:hidden;
    margin-top: 10%;

}
/* creates a margin between the footer and the homepage article and styles the background color*/
footer {
    background-color: #333; 
    background-size: cover;
    margin-top: 2.5%;
    text-align: center;
    color: #fff;

}
/* sets the border for each article, sets the margins around each article and sets the background color */
.article {
  border-style: solid;
  border-width: thin;
  color: black;
  margin-left:5%;
  margin-right:5%;
  margin-top: 5%;
  background-color: whitesmoke; 
}
/* sets the color and the margin for each of the links withen the articles */
.linklist {
    color: #111;
    margin-left: 2%;
    margin-top: 5%;
    margin-bottom: 10%;
    font-size: 200%;
}
/* Sets the alignment and margin and font size for the text withen the articles */
.text1 {
    margin-left: 2%;
    margin-right: 2%;
    align-content: center;
    font-size: 150%;
}
/*  sets the location, width and height and margin*/
.CBD {
    float: right;
    margin-right: 5%;
    width: 40%;
    height: 40%;
    margin-left: 5%

}
/* Sets the margin for each the headers*/
h1 {
    margin-left: 3%
}
/* Sets alignment of the header*/
h2 {
    text-align: center;
}
/* Changes the color of the link that is hovered over to black when hovered*/
a:hover {
    color:#111;
}
/*Styles the recomended links in the articles */
.Atrc {
    color: #111;
    font-size: 100%;
    margin-left: 3%;
}
/* Sets the background color, border and background color, text color and size of the header*/
.header {
    color: #888;
    background-color: #333;
    height: 100%;
    font-size: 200%;
    float: left;
    width: 100%;
    border-bottom: #111;
    border-bottom-style: solid;
    border-bottom-width: medium;
}
/* changes the opacity of each square image on the index page */
.content:hover {
    opacity:0.9;
}
/* styles the article on the index page by setting the margin, background color and border */
.homearticle {
    margin-top: 50%;
    border-style: solid;
    border-width: thin;
    color: black;
    margin-left:5%;
    margin-right:5%;
    background-color: whitesmoke; 
}
