body{
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: "Lucida Grande", "Helvetica Nueue", Arial, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(..//images/background.jpg);

}
nav {
    background-color: #333;
    border: 1px solid #333;
    color: #fff;
    display: block;
    margin: 0;
    overflow: hidden;
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
nav ul li {
    margin: 0;
    display: inline-block;
    list-style-type: none;
    transition: all 0.2s;
}

nav > ul > li > a {
    color: #aaa;
    display: block;
    line-height: 2em;
    padding: 0.5em 2em;
    text-decoration: none;

}

nav li > ul{
    display : none;
    margin-top:1px;
    background-color: #bbb;

}

nav li > ul li{
    display: block;
}

nav  li > ul li a {
    color: #111;
    display: block;
    line-height: 2em;
    padding: 0.5em 2em;
    text-decoration: none;
}

nav li:hover {
    background-color: #666;
}
nav li:hover > ul{
    position:absolute;
    display : block;
}
nav li > ul > li ul  {
    display: none;
    background-color: #888;
}
nav li > ul > li:hover > ul  {
    position:absolute;
    display : block;
    margin-left:100%;
    margin-top:-3em;
}

  .square {
    float:left;
    position: relative;
    width: 30%;
    padding-bottom : 30%;
    margin:1.66%;
    overflow:hidden;
}

.content {
    position:absolute;
    height:80%;
    width:90%;
    padding: 10% 5%;
}
.table{
    display:table;
    height:100%;
    width:100%;
}
.table-cell{
    display:table-cell;
    vertical-align:middle;
    height:100%;
    width:100%;
}
.square1 {
    background-image: url(../images/Papamoa.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
    float:left;
    position: relative;
    width: 30%;
    padding-bottom : 30%;
    margin:1.66%;
    overflow:hidden;
    margin-top: 10%;
}
.square2 {
    background-image: url(../images/Tauranga.jpg);
    background-color: #333;
    background-size: cover;
    float:left;
    position: relative;
    width: 30%;
    padding-bottom : 30%;
    margin:1.66%;
    overflow:hidden;
    margin-top: 10%;
}
.square3 {
    background-image: url(../images/MountM.png);
    background-size: cover;
    background-repeat: no-repeat;
    float:left;
    position: relative;
    width: 30%;
    padding-bottom : 30%;
    margin:1.66%;
    overflow:hidden;
    margin-top: 10%;
}
.square3 :hover{
    background-color: #111;
}
.gridinside {
    margin: 10%;
    margin-bottom: 0%;
}
.footer {
    background-color: #333; 
    background-size: cover;
    margin-top: 60%;
}
.space {
    width: 100%;
    height: 60%;
}
.footer {
    text-align: center;
    color: #fff;
}
.article {
  border-style: solid;
  border-width: medium;
  color: white;
  margin-left:5%;
  margin-right:5%;
  margin-top: 15%;
  margin-bootom: 15%;
}
